body {
    background-color: rgb(155, 186, 255);
    margin: 0;
    box-sizing: border-box;
    min-height: 200vh;
}
header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: 2px solid black;
    background: rgb(130,125,255);
    background: linear-gradient(90deg, rgba(130,125,255,1) 0%, rgba(175,174,255,1) 15%, rgba(138,138,255,1) 35%, rgba(138,138,255,1) 65%, rgba(175,174,255,1) 85%, rgba(130,125,255,1) 100%);
}
nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    padding: 0%;
    font-size: 200%;
}
main {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 23%;
    padding: 2%;
    width: 50%;
    border: 2px solid black;
}
#haku:focus {
    padding:1%;
    font-size: larger;
}
#haku {
    width: 10%;
    transition: 0.5s;
    padding: 0.5%;
    height: auto;
    border: 1px solid black;
}
#kori>img {
    margin-left: 18%;
    margin-bottom: -2%;
    width: 25%;
    border: 1px solid black;
}
#logo {
    height: auto;
    width: 10%;
    box-shadow: 0px 0px 10px black;
}
.linkki {
    height: auto;
    width: 15%;
    transition: 0.5s;
    padding: 0.5%;
    border: 2px solid black;
    color: black;
    box-shadow: 0px 0px 5px black;
    border-radius: 5%;
    text-decoration: none;
}
.linkki:hover {
    color: white;
    transition: 0.5s;
    padding: 1%;
    transition: 0.5s;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid black;
    padding: 1%;
    background: rgb(130,125,255);
    background: linear-gradient(90deg, rgba(130,125,255,1) 0%, rgba(175,174,255,1) 15%, rgba(138,138,255,1) 35%, rgba(138,138,255,1) 65%, rgba(175,174,255,1) 85%, rgba(130,125,255,1) 100%);
    font-size: larger;
}